@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
/*  */

.banner {
  width: 100%;  
  height: 252px;    
}

.card {
  width: 300px;
  height: auto;
  padding: 10px 15px 5px 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  border: none;
}

.card .hearticon-box {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hearticon-box > * {
  width: 100%;
  color: #002f34;
}

.card .img-box {
  width: 80%;
  height: 150px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
}

.img-box img {
  width: 100%;
}

.card .content-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.content-box h1 {
  font-size: 22px;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 5px 0;
  color: #002f34;
}

.content-box h4 {
  font-family: "Roboto", sans-serif;
  height: 15px;
  font-size: 14px;
  color: #002f34;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.content-box p {
  font-size: 14px;
  color: rgba(0, 47, 52, 0.64);
  margin: 0;
  height: 25px;
  overflow: hidden;
}

.card .area-and-time {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.area-and-time > * {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: rgba(0, 47, 52, 0.64);
}

/*---------------------------------------------------------------------*/

.bigBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 10px 20px;
}

.components {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.load_btn {
  width: 100%;
  padding: 0 0 10px 0;
  display: flex;
  justify-content: center;
}

.load_btn button {
  padding: 5px 20px;
  font-size: 20px;
  color: #002f34;
  border: 2px solid #002f34;
  background: transparent;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
}

.load_btn button:hover {
  border: 4px solid #002f34;
  padding: 3px 18px;
}


/*---------------------------- bottom page ------------------------------*/

.bottom_box {
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 47, 52, 0.03);
    margin-top: 20px;
}

.bottom_box .layer {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.layer .img_cont {
    width: 36%;
    display: flex;
    flex-direction: column;
}

.det, .apps_link {
    width: 27%;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.img_cont img {
  width: 100%;
}

.det h1 {
  font-size: 30px;
  font-weight: bold;
  color: #002f34;
  font-family: "Roboto", sans-serif;
}

.det p {
  font-size: 18px;
  color: #002f34;
  font-family: "Roboto", sans-serif;
}

.apps_link {
  padding-left: 30px;
  border-left: 2px solid rgba(0, 47, 52, 0.3);
}

.apps_link h2 {
  font-size: 16px;
  font-weight: bold;
  color: #002f34;
  margin-bottom: 10px;
}

.apps_link .under {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.under img {
  margin-right: 10px;
  width: 130px;
}