.ImageMain-1{
    background-image: url('https://statics.olx.com.pk/external/base/img/hero_bg_pk.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 252px;

}