.input-group {    
    left: 330px;
    height: 47px; 
    top: 25px;
}

.input-group-text {
    border: 2px #002f34 solid !important;
    background-color:  #002f34 !important;
    color: #fff !important;    
}

.form-control {
    border: 2px #002f34 solid !important;
}

.form-control:focus {
    border: 2px seagreen solid !important;   
}

.select {
    width: 300px;
    margin: 22px;
    padding: 10px;
    font-size: 18px;
    line-height: 50px;   
    color: gray; 
    font-weight: 600;
    border: 2px #002f34 solid !important;    
}

.navbar {
    height: 74px !important;
}

.flex { display: flex !important; }


/* .head {
    z-index: 10;
    width: 100%;
    position: fixed;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
}

.er {
    margin: 0 auto;
    height: 68px;
}

.er ._2d97D {
    top: 0;
}

.er ._1B5Sf {
    padding: 10px 16px;
    background-color: #fff;
    position: fixed;
    left: 0;
    z-index: 10;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.er ._1B5Sf:after {
    content: "";
    background-color: rgba(0,47,52,.03);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.er ._2fu44 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    position: relative; 
}

.hJUTK {
    display: block;
}       

._2r6hS {
    height: 48px;
    z-index: 1;
    margin-right: 30px
}

._2r6hS a {
    height: 100%;
    display: block;
    background-color: initial;
}

.er ._1B5Sf ._2KctL {
    margin: 0 16px;
    display: flex;
    flex: 1;
}

._3W9XC {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

._18aBn {
    height: 48px;
    display: flex;
    flex: 1;
    background-color: initial;
    box-sizing: border-box;
    width: 100%;
}

.IOsQD {
    height: 48px;
    width: 272px;
    max-height: 320px;
    overflow: unset;
    z-index: 6;
}

.IOsQD ._16LoD {
    display: flex;
    align-items: center;
    height: 48px;
    background: #fff;
    padding: 0 8px;
    box-sizing: border-box;
    border: 2px solid #002f34;
    border-radius: 4px;
}

.IOsQD ._16LoD ._1jABB {
    height: 40px;
    width: 100%;
    outline: 0;
    border-width: 0;
    font-size: 16px;
    color: #002f34;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    padding: 0 0 0 16px;
}

.IOsQD ._16LoD .I95t7 {
    transition: transform .5s;
    position: relative;    
}

.rui-3mpO_ {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background: none;
    outline: none !important;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
}

._18aBn .zYZEU {
    display: flex;
    width: 100%;
    margin-left: 16px;
    height: 48px;
    box-sizing: border-box;
    border: 2px solid #002f34;
    border-radius: 4px 0 0 4px;
}

._18aBn ._2C0uj {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
}

._18aBn ._2C0uj ._20jkh {
    border-style: none;
    color: #002f34;
    position: relative;
    height: 100%;
    top: 0;
    z-index: 9;
}

.rui-Xybo_ button[type=submit] {
    left: 0;
}

.rui-Xybo_ {
     border-width: 0 0 1px;
    box-sizing: border-box;
    background-color: initial;
    font-size: 16px;
}

.rui-Xybo_ button {
    top: 5px;
    width: 40px;
    padding: 0;
    position: absolute;
    margin: 0;
    color: inherit;
    border-width: 0;
    font-size: inherit;
    vertical-align: top;
    line-height: inherit;
    background-color: initial;
}
._18aBn ._2C0uj fieldset {
    right: 0;  
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0;
    height: 100%;
    border-width: 0;
    box-sizing: border-box;
}   

.rui-Xybo_ fieldset>div {
    width: 100% !important;
    height: 100% !important;
}

._18aBn ._2C0uj fieldset div input {
    border-radius: 0;
    height: 100%;
    width: 100%;
    padding: 0 8px;
    line-height: normal;
    outline: none !important;
}    

._18aBn ._3b3oR {
    min-width: 48px;
    height: 48px;
    display: flex;
    cursor: pointer;
    background-color: #002f34;
    border-radius: 0 4px 4px 0;
}    

._18aBn ._3b3oR span {
    margin: auto;    
}

._14lZ9 {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
}

._14lZ9 .RgSo4._1oFFI {
    margin: 0 12px 0 20px;
}

.rui-3sH3b.rui-17DJY {
    color: #002f34;
    border-bottom: 2px solid #002f34;
    padding: 0;
    height: auto;
}

.rui-3sH3b.rui-1zK8h {
    font-size: 16px;
}   

._21nYN {
    position: relative;
    display: inline-block;
    width: 104px;
    height: 48px;
}

._21nYN ._3V9PS {
    width: 100%;
    height: 100%;
}

._21nYN .DrSmZ {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .5px;
    color: #002f34;
}

._21nYN .EgzsJ {
    display: inline-flex;
    margin-right: 4px;
}

._21nYN:after {
    content: "";
    position: absolute;
    width: 98px;
    height: 44px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 1px 10px 0 rgba(0,0,0,.12), 0 4px 5px 0 rgba(0,0,0,.14);
    top: 2px;
    left: 3px;
    border-radius: 24px;
    background: transparent;
    z-index: -1;
} */

/* @media only screen and (min-width: 1024px) {
._18aBn {
    min-width: 630px;
} */
/*----------------------------------------------------------*/
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #657224;
    --whiteColor: #fff;
    --blackColor: #000;
    --lightDark: #222;
}

body {
    font-family: 'Lato', sans-serif;
}

nav {
    display: flex;
    width: 100%;
    height: 70px;
    line-height: 70px;
    padding: 0 100px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.left {
    width: 50%;
    text-align: left;   
}

.left a {
    font-weight: 700;
    color: var(--mainColor);
    font-size: 21px;
}

.right {
    width: 50%;
    text-align: right;
}

nav ul {
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
}

.account {
    display: inline-block;
    font-size: 20px;
    color: var(--lightDark);
} */
/* .color { color: #002f34; }

.header {
    top: 0px;
    left: 0px; 
    right: 0px;
    height: 70px;
    z-index: 9;
    background-color: #f1f1f1;
    box-shadow: 0 2px 2px #dadada;
    padding: 0px 18%;
}

.header .logo {
    width: 50px !important;
    margin-right: 20px;
}

.header .logo svg {
    width: 100% !important;
}

.header .location {
    background: #fff;
    border: 2px #002f34 solid;
    border-radius: 5px;
}

.header .location .ico {
    padding: 10px;
}

.header .location .label {
    flex: 1;
    padding: 10px;
    border: 0px;
}

.header .location .arro {
    flex: 1;
    padding: 10px;
    border: 0;
    background: #fff;
    outline: none;
    
}

.header .search {
    background: #fff;
    border: 2px #002f34 solid;
    border-radius: 5px;
    flex: 2;
    margin: 0 20px;
}

.header .search .query {
    flex: 1;
    padding: 10px;
    border: 0;    
}

.header .search .go {
    flex: 1;
    padding: 10px;
    border: 0;
    background: #002f34;
    max-width: 50px;
}

.header .search .go:hover {}

.header .actions {
    flex: 1;
    max-width: 200px;
    align-items: flex-end;
    justify-content: flex-end;
}

.header .actions a {    
    margin: 0px 20px 10px 0px;
}

.header .actions .sell {
    padding: 8px 20px;
    border: 3px #ffa500 solid;    
    text-align: center;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0px 3px 5px #a9a9a9;
}

.header .actions .sell .ico {
    margin-right: 6px;
}

.header .actions .sell:hover {}

/*---------------------------------------------------------------------------*/

.hnav {
    top: 96px;
    left: 0px; 
    right: 0px;
    height: 50px;
    z-index: 8;
    background-color: #fff !important;
    box-shadow: 0 2px 2px rgb(218, 218, 218) !important;
    padding: 0px 4%;
}

.hnav .view-cates {
    border: 0px;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0);
}

.hnav .view-cates .arro {
    padding: 3px 10px;
    border: 0px;
    background: rgba(0, 0, 0, 0);
    margin-left: 10px;
}

.hnav .view-cates:hover {
    background: #f1f1f1 !important;
}

.hnav a {
    padding: 15px;
    margin-right: 2px;
    color: #002f34;
}

.hnav a:hover {
    color: seagreen !important;
}

.hclr { height: 120px; }
/*
.home-page { padding: 30px 5%; }

.ad-list { flex-wrap: wrap; } 

.ad-item {
    min-width: 270px;
    min-height: 266px;
    max-width:  270px;
    max-height: 266px;
    flex-basis: 20%;
    margin: 8px;
    border: 1px #ddd solid;
    padding: 8px;
}

.ad-item .poster { height: 160px; }

.ad-item .poster.placeholder {}

.ad-item .title { margin: 10px 0px; }

.ad-item .title.placeholder {
    height: 25px;   
    width: 75%;
}

.ad-item .tagline {}

.ad-item .tagline.placeholder{ height: 20px; width: 90%; }

.ad-item .ftr { margin-top:  15px; }

.ad-item .ftr .location { flex: 2; }

.ad-item .ftr .location.placeholder { height: 12px; max-width: 100px; }

.ad-item .ftr .stamp { flex: 1; }

.ad-item .ftr .stamp.placeholder { height: 0px;}

.load-more {
    margin: 40px auto;
    display: table;
    border: 3px #012f34 solid;
    background: #fff;
    padding: 8px 16px;
    border-radius: 10px;
}

.load-more:hover {
    box-shadow: inset -1px -1px 0px 25px #012f34;
    color: #fff;
}

.app-ribbon {
    padding: 0px 18%;
    background: #f9f9f9;
}

.app-ribbon .img {}

.app-ribbon .img img {}

.app-ribbon .meta {}

.app-ribbon .meta .title {}

.app-ribbon .meta .slogan {}

.app-ribbon .links {} 

.app-ribbon .links .title { margin-bottom: 20px; }

.app-ribbon .links .as {} 

.app-ribbon .links a { margin:  0px 10px 0px 0px; } 

.app-ribbon .links a:hover {}

.footer {
    padding: 0px 18%;
    background: #f1f1f1;
    border-top: 1px #ccc solid;
}

.footer .block {
    flex: 1;
    padding: 20px 0px 50px 0px;
}

.footer .block .title { margin-bottom: 10px; } 

.footer .block a { line-height: 1.6; }

.footerb {
    padding: 15px 18px;
    background: #012f34;
}

.footerb h2 {
    flex: 1;
}

.footerb h2.r {
    text-align: right;
} */